@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

header{
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #02080b;
    color: aqua;
}

.logoLeft {
    display: flex;
    flex-grow: 1;
    align-items: center;
}

nav {
    align-self: center;
}

nav ul {
    display: flex;
    list-style: none;
    align-self: center;
    font-family: 'Abyssinica SIL', serif;
}

nav ul li {
    padding-right: 30px;
}

.humburgerBtn {
    font-size: 50px;
    padding: 2%;
}

.logo {
    font-family: 'Abyssinica SIL', serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.search {
    font-size: 30px;
    align-self: center;
    cursor: pointer;
    padding: 30px;
}

.section1 {
    width: 100%;
    height: 430px;
    background-image: url("https://static.cronj.com/img/hire-fullstack-developers/header-img.png");
    background-size: cover;
    color: azure;
    padding: 5%;
}

.section1 h1 {
    font-size: 50px;
    width: 50%;
} 

.section1-para {
    font-family: 'Inter Tight', sans-serif;
    color: #aaa8a5;
    font-size: 18px;
    width: 50%;
    padding: 20px 0;
}

.anim1 {
    font-size: 18px;
    padding: 10px 0;
    font-family: 'Inter Tight', sans-serif;
    font-weight: bold;
}

.anim1 :hover {
    color: rgb(27, 27, 165);
    transition: all ease 3s;
    cursor: pointer;
}

.anim1 span {
    margin-left: 15px;
}

.enumerate {
    display: flex;
    width: 100%;
    font-family: 'Inter Tight', sans-serif;
    background-color: #f6f3ed;
    padding: 20px 8px;
}

.enumerated {
    width: 250px;
    display: flex;
}

.number {
    font-size: 40px;
    color: rgba(0, 0, 255, 0.829);
    border-right: 1px solid rgba(0, 0, 255, 0.829);
    margin: 5px;
}

.section2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sec {
    height: 600px;
    padding: 15%;
}

.section201 {
    background-image: url("https://cdn.pixabay.com/photo/2013/07/12/14/07/basketball-147794__340.png"), linear-gradient(90deg, rgba(14,13,13,0) 0%, rgba(11,11,69,1) 14%, rgba(9,9,121,1) 27%, rgba(141,8,15,1) 100%, rgba(0,212,255,1) 100%);
}

.sec2h1 {
    font-size: 30px;
}

.sec2Para {
    font-family: 'Inter Tight', sans-serif;
    color: #aaa8a5;
    font-size: 18px;
}

.section204 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSMyOo4j42_YKz1gI_RKOPAenTCg3lXbCwhA&usqp=CAU");
}

.section205 {
    background-image: url("https://www.mckinsey.com/~/media/mckinsey/featured%20insights/mckinsey%20books/author%20talks%20how%20industrial%20technology%20is%20creating%20a%20more%20inclusive%20economy/cover%20-%20titanium%20economy_50-50-w.jpg?mw=768&car=16:9");
    background-repeat: no-repeat;
    background-size: cover;
}

.section206 {
    background-color: rgb(2,8,11);
    color: #fff;
}

.blogIntro {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

.blogIntro p{
    align-self: center;
}

.blogs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sec2 {
    height: 400px;
}

.sec001 {
    background-image: url("https://images.squarespace-cdn.com/content/v1/62feb7a69c66ec0672f20461/1660861763868-NH6V11O3ULQJDOBOQN5L/Montevideo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.itemsContainer {
    width: 100%;
    display: flex;
}

.secsPr {
    height: 200px;
    width: 50%;
}

.sec0021 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdqwG8dbH4-RbYuyng-PE2nL0cgBXKelWY3A&usqp=CAU");
}

.sec0022 {
    padding: 10%;
}